<div id="timetable">
    <h2>Torsdag</h2>
    <ol>
        <li ng-repeat="artist in vm.thursday"><a ui-sref="lineup.artist({artist: artist.slug})">{{artist.name}}</a></li>
    </ol>
    <h2>Fredag</h2>
    <ol>
        <li ng-repeat="artist in vm.friday"><a ui-sref="lineup.artist({artist: artist.slug})">{{artist.name}}</a></li>
    </ol>
    <h2>Lørdag</h2>
    <ol>
        <li ng-repeat="artist in vm.saturday"><a ui-sref="lineup.artist({artist: artist.slug})">{{artist.name}}</a></li>
    </ol>
</div>