<div id="festivals">
    <div class="festival festival-{{$index + 1}}" ng-repeat="festival in vm.festivals" ng-class="$even ? 'odd' : 'even'">
        <div class="festival-poster">
            <img ng-src="assets/images/posters/{{festival.poster}}" alt="Pop Revo {{festival.year}}">
        </div>
        <h2>{{festival.year}}</h2>
        <ul class="festival-lineup">
            <li ng-repeat="artist in festival.lineup">
                {{artist}}
            </li>
        </ul>
    </div>
</div>