body {
  background: $black;
  color: $white;
  font-family: $serif;
  font-size: 14px;
  line-height: em(28, 14);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  @include bp(1000) {

  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: $yellow;
}

h1, h2 {
  font-family: $sans-serif;
  font-weight: bold;
}

h2 {
  font-size: em(28,14);

}