body {
	background: $white;
	color: $black;
	font-family: $serif;
	font-size: 14px;
	line-height: em(28,14);
}

.container {
	max-width: 400px;
	margin: 0 auto;
	padding: 0 10px;
}


img {
	display: block;
	max-width: 100%;
}

a {
	color: $yellow;
}