header {
  background: $yellow;
  color: $black;
  font-family: $sans-serif;
  padding-bottom: em(28, 14);
}

#top {
  background-color: darken($yellow, 15%);
  #social {
    @extend %clearfix;
    li {
      padding: em(18, 14) 0;
      display: block;
      width: 33%;
      float: left;
      @include bp(800) {
        width: auto;
        float: right;
        margin-left: 20px;
      }
      a {
        display: block;
        margin: 0 auto;
      }
    }
    .instagram {
      a {
        width: 20px;
      }

    }
    .facebook {
      a {
        width: 20px;
      }

    }
    .youtube {
      a {
        width: 28px;
      }
    }
  }
}

#menubar {
  .container {
    @extend %clearfix;
  }
  .logohorse {
    @include bp(1000) {
      float: left;
    }
    .horse {
      margin: em(28, 14) auto;
      width: em(56,14) * $horseAspect;
    }
    .logo {
      margin: em(28, 14) auto;
      width: em(84,14) * $logoAspect;

      @include bp(1000) {
        display: none;
      }
    }
  }
  date {
    @include bp(1000) {
      display: none;
    }
  }
  .buyticket {
    margin-bottom: 2em;
    text-align: center;

    @include bp(1000) {
      float: left;
      margin-bottom: 0;
      margin-top: em(42,14);
      margin-left: 40px;
    }
    a {
      border: em(1, 14) solid $black;
      color: $black;
      display: inline-block;
      line-height: em(40, 14);
      padding: 0 20px;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      @include bp(1000) {
        line-height: em(26,14);
        padding: 0 10px;
      }

      &:hover {
        color: $yellow;
        background: $black;
      }
    }
  }
  #menu {
    #toggle-menu {
      display: block;
      text-align: center;
      position: relative;
      z-index: 2;
      @include bp(1000) {
        display: none;
      }
      a {
        border: 1px solid $black;
        color: $black;
        cursor: pointer;
        display: inline-block;
        padding: 0 10px;

        &.active {
          background: darken($yellow, 15%);
          border-bottom: 1px solid darken($yellow, 15%);
          &:hover {
            background: $yellow;
          }
        }
        &:hover {
          background: darken($yellow, 15%);

        }
      }
    }
    ul#menu-items {
      @extend %clearfix;
      background: darken($yellow, 15%);
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      display: none;
      margin: -1px -40px 0;
      position: relative;
      z-index: 1;

      &.active {
        display: block;
      }

      @include bp(1000) {
        background: none;
        border: none;
        margin: 0;
        float: right;
        &.inactive {
          display: block;
        }
      }

      li.menu-item {
        border-bottom: 1px solid $yellow;
        display: block;
        &.inactive {
          a {
            text-decoration: line-through;
          }
        }
        &.last {
          border: none;
        }
        @include bp(1000) {
          float: left;
          
        }
        a {
          display: block;
          line-height: em(42, 14);
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          color: $black;
          &:hover {
            background: $yellow;
          }
          @include bp(1000) {
            line-height: em(112,14);
            margin-left: 40px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      li.front {
        //display: none;
      }
    }
  }

}

#hero {
  display: none;
  @include bp(1000) {
    display: block;
  }
  .logo {
    width: em(154, 14) * $logoAspect;
    margin: em(28, 14) auto;
  }
}