#breadcrumbs {
  ol {
    display: inline-block;
    li {
      display: inline-block;
      font-size: em(16,14);
      line-height: em(28,16);
      font-family: $sans-serif;
      padding: 0 10px 0 0;
      &.active {
        &:after {
          content: "\003E";
        }
      }
      a {
        display: inline-block;
        text-decoration: none;
        padding: 0 10px;
        margin: 0 10px 0 0;
        &:hover {
          background: $yellow;
          color: $black;
        }
      }
    }
  }
}

#lineup {
  padding: 28px 0;
  .artist {
    @extend %clearfix;
    padding: 28px 0;
    @include bp(800) {
      padding: 56px 0;
    }
    &.even {
      @include bp(800) {
        .artist-name {
          text-align: right;
        }
        .artist-image {
          float: right;
          padding: 0 0 0 20px;
        }
        .artist-info {
          float: left;
          padding: 0 20px 0 0;
        }
      }

    }

    .artist-name {
      font-family: $sans-serif;
      font-size: em(36,14);
      line-height: 1;
      font-weight: bold;
      position: relative;
      z-index: 2;
      @include bp(800) {
        font-size: em(56,14);
      }
      .origin {
        font-family: $serif;
        font-weight: normal;
        font-style: italic;
        position: relative;
        font-size: em(20, 56);
        top: -0.8em;
      }

    }
    .artist-image {
      position: relative;
      margin-top: -0.4em;
      z-index: 1;
      @include bp(800) {
        float: left;
        padding: 0 20px 0 0;
        width: 50%;
      }
      soundcloud,
      youtube {
        a {
          display: inline-block;
          background: $yellow;
          color: $black;
          padding: 0 10px;
          font-size: em(20,14);
          text-decoration: none;
          line-height: em(30,20);
          border: em(1,20) solid $yellow;
          margin: em(15,20,true) 0 0 10px;
          transition: all 0.2s ease-in-out;
          &:hover {
            background: $black;
            color: $yellow
          }
        }
      }
    }
    .artist-info {
      font-size: em(16,14);
      padding: 20px 0 0 0;
      @include bp(800) {
        width: 50%;
        padding: 0 0 0 20px;
        float: right;
      }
    }


  }
}