#poster {
  padding: 84px 0;
  @extend %clearfix;
  #artists {

    @include bp(1000) {
      float: left;
    }
  }
  .artist {
    h2 {
      font-family: $sans-serif;
      font-weight: bold;
      &.medium {

        font-size: em(56, 14);
        line-height: em(70, 56);
        .origin {
          font-size: em(28, 56);
          top: -0.4em;
        }
      }
      &.big {
        font-size: em(70, 14);
        line-height: em(98, 70);
        .origin {
          font-size: em(28, 70);
          top: -0.6em;
        }
      }
      .origin {
        font-family: $serif;
        font-weight: normal;
        font-style: italic;
        position: relative;
      }
    }
  }

  .date {
    @include bp(1000) {
      float: right;
    }
  }

  .logosince {
    margin: 0 auto;
    padding-bottom: em(42, 14);
    width: em(98,14) * $logosinceAspect;
    @include bp(1000) {
      float: right;
    }
  }
}