@import '../modules/colors';
@import '../modules/variables';
@import '../modules/tools';
@import '../modules/functions';
@import '../modules/mixins';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $white;
  color: $black;
  font-family: $serif;
  font-size: 14px;
  line-height: 2em;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  //border: 1px solid red;
  padding: 0 10px;
}


img {
  display: block;
  max-width: 100%;
}

a {
  color: $yellow;
}

header {
  font-family: $sans-serif;
  background: $yellow;
}

#top {
  background-color: darken($yellow, 15%);
  #social {
    @extend %clearfix;
    li {
      padding: em(18,14) 0;
      display: block;
      width: 33%;
      float: left;
      a {
        display: block;
        margin: 0 auto;
      }
    }
    .instagram {
      a {
        width: 20px;
      }

    }
    .facebook {
      a {
        width: 20px;
      }

    }
    .youtube {
      a {
        width: 28px;
      }
    }
  }
}

#menubar {
  .logohorse {
    .horse {
      width: em(56,14) * $horseAspect;
      margin: em(28,14) auto;
    }
    .logo {
      width: em(84,14) * $logoAspect;
      margin: em(28,14) auto;
    }
  }
  #menu {

    .toggle-menu {
      display: none;
    }
    .buyticket {
      text-align: center;
      a {
        color: $black;
        text-decoration: none;
        border: em(1,14) solid $black;
        line-height: em(26,14);
        padding: 0 10px;
        display: inline-block;
        &:hover {
          color: $yellow;
          background: $black;
        }
      }
    }

    ul {
      display: none;
      @extend %clearfix;
      li {
        float: left;
        width: 20%;
        a {
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          color: $black;
        }
      }
      li.front {
        //display: none;
      }
    }
  }

}


#hero {
  .logo {
    display: none;
    width: em(112,14) * $logoAspect;
    margin: em(28,14) auto;
  }
  .date {
    text-align: center;
    font-family: $serif;
    font-size: em(28, 14);
    line-height: 2em;
  }
}

footer {
  background: $yellow;
}

#contact {
  text-align: center;
  line-height: em(84,14);
  .container {
    border-bottom: em(2,14) solid $black;
  }
  //margin-bottom: em(42,14);
}

#partners {
  .container {
    padding: em(42,14) 10px 0;
  }
  li {
    display: block;
    margin: 0 auto em(42,14);
  }
  .aarhuskommune {
    width: em(70,14) * $aarhusAspect;
  }
  .atlas {
    width: em(56,14) * $atlasAspect;
  }
  .voxhall {
    width: em(28,14) * $voxhallAspect;
  }
}

#bottom {
  background: $black;
  .container {
    padding: em(72,14) 10px;
  }
  .buyticket {
    text-align: center;
    margin: 0 0 em(72,14);
    a {
      display: inline-block;
      text-decoration: none;
      font-family: $sans-serif;
      font-size: em(28,14);
      line-height: em(42,28);
      border: em(1,28) solid $yellow;
      padding: 0 20px;
      text-transform: uppercase;
      &:hover {
        background: $yellow;
        color: $black;
      }
    }
  }

  .logohorsesince {
    width: em(532,14) * $logohorsesinceAspect;
    margin: 0 auto;
  }
}
